.IntroMain {
    height: 600px;
}

.content {
    margin-top: 100px;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.section-title {
    color: #fff;
    font-size: 150px;
    font-weight: bold;
    position: absolute;
    left: -26px;
    bottom: 220px;
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    width: max-content;
    opacity: 0.5;
}

/* Intro Section    */

.video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    z-index: -1;
}

.pfpContainer {
    position: absolute;
    margin-top: 63px;
    margin-left: calc(50% - 540px);
    z-index: -1;
}

.pfpContainer img {
    width: 762px;
    align-items: center;
}

.intro-btn-big {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 125px;
    background-color: #fff;
    padding: 15px;
    font-weight: bold;
    font-size: 35px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: skewX(-4deg);
    opacity: 0.85;
}

.intro-btn-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #fff;
    padding: 15px;
    font-weight: bold;
    font-size: 35px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: skewX(-4deg);
    opacity: 0.85;
}

.intro-btn-blue {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #08aade;
    margin-left: 25px;
    padding: 15px;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.welcome-btn {
    display: flex;
    background-color: grey;
    height: 100%;
    width: 100px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.welcome-btn img {
    background-color: grey;
    height: 70px;
    width: 80px;
}

.intro-desc {
    padding: 10px;
    width: 335px;
    height: auto;
    position: absolute;
    background-color: #333333;
    margin-top: 445px;
    margin-left: calc(50% - 513px);
    z-index: -1;
    opacity: 0.85;
    transform: rotate(-3deg) skewX(-6deg);
}

.intro-desc p {
    color: #fff;
    margin: 0;
}

.level {
    width: 150px;
    height: 45px;
    position: absolute;
    background-color: #333333;
    margin-top: 360px;
    margin-left: calc(50% - 510px);
    z-index: -1;
}

.age {
    color: #fff;
    font-size: 65px;
    margin-top: -90px;
    margin-left: 56px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    border: 2px solid #ebd442;
    border-radius: 50%;
}

.age p {
    height: 0px;
    font-size: 17px;
    line-height: 0px;
    margin-top: -17px;
}

.name {
    color: #fff;
    position: absolute;
    right: -30px;
    bottom: -42px;
    font-size: 30px;
}

.divider {
    width: 100%;
    height: 50px;
    background-color: #000000;
}

/* About Section    */

.section.about {
    margin-top: 110px;
}

.section-title.about {
    bottom: 220px;
}

.about-content {
    color: #fff;
    text-align: justify;
}

/* Education Section    */

.edu-content {
    margin-top: 122px;
}

.section-title.edu {
    top: -50px;
}

.edu-selector {
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.edu-selector::after {
    content: '';
    position: absolute;
    top: 225px;
    bottom: 157px;
    margin-left: -25px;
    width: 2px;
    background-color: #fff;
}

.edu-details {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Adjusted to start from the top */
    align-items: center;
    position: relative;
    /* Add position relative */
    height: 100%;
}

.edu-logo {
    position: absolute;
    /* right: 0; */
    margin-top: -110px;
    margin-right: -300px;
    z-index: -1;
    filter: blur(1px);
    opacity: 0.5;
}

.edu-date {
    font-size: 78px;
    font-weight: bold;
    margin-top: auto;
    margin-left: auto;
    opacity: 0.5;
    /* Push .edu-date to the bottom */
}

.edu-result {
    color: #000000;
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    font-weight: bold;
}

/* Experience Section    */

.section-title.exp {
    top: -50px;
}

.exp-content {
    margin-top: 140px;
}

.exp-selector {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    background-color: #b2b2b2;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.exp-selected-content {
    height: auto;
}

.exp-image {
    display: flex;
    width: 50px;
}

.exp-image img {
    width: 450px;
}

.exp-desc {
    font-size: 20px;
    display: flex;
    z-index: -1;
    height: 300px;
    background-color: grey;
    color: #fff;
    padding: 20px 20px 20px 36px;
    margin-left: -17px;
}

.exp-selector-content {}

.recite-logo {
    position: absolute;
    width: 100px;
    top: 0;
    right: 0;
    height: 72px;
    width: 70px;
    margin-top: 6px;
    margin-right: -10px;
}

.fusion-logo {
    position: absolute;
    top: 0;
    right: 0;
    height: 72px;
    width: 70px;
    margin-top: 6px;
    margin-right: -10px;
    border: solid #fff 8px;
}

.fusion-office {
    position: relative;
    clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 100%, 0% 100%);
}

/* Stack Section */

.section-title.stack {
    top: -50px;
}

.stack-content {
    margin-top: 115px;
}

.stack-item {
    display: flex;
    justify-content: center;
    height: 400px;
}

.stack-item.details {
    /* clip-path: polygon(0 0, 81% 0, 100% 100%, 0% 100%); */
    margin-right: -30%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    position: relative;
    z-index: -1;
    color: #fff;
    padding: 25px;
}

.stack-item.logo {
    /* clip-path: polygon(0 0, 100% 0, 70% 100%, 30% 100%); */
    position: relative;
    z-index: -2;
}

.stack-item.list {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: -1;
}

.stack-list-background {
    position: absolute;
    clip-path: polygon(19% 0, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 100%;
    background-color: #292929;
    z-index: -1;
}

.stack-grid {
    position: absolute;
    left: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    width: auto;
    height: auto;
    gap: 10px 10px;
}

.stack-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(78, 78, 78, 1) 0%, rgba(49, 49, 49, 1) 100%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 30px;
    text-align: center;
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.stack-grid-item:nth-child(n + 5) {
    margin-left: -15px;
}

.stack-grid-item:nth-child(n + 9) {
    margin-left: -25px;
}

.stack-small-logo {
    width: 90px;
    height: auto;
}

.selected-logo {
    width: 500px;
    height: 500px;
}

/* Projects Section */

.section.project {
    margin-top: 110px;
}

.section-title.project {
    top: -50px;
}

.project-content {
    margin-top: 140px;
}

.project-grid {
    position: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    width: auto;
    height: auto;
    gap: 10px 10px;
}

.project-grid-item {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(78, 78, 78, 1) 0%, rgba(49, 49, 49, 1) 100%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 30px;
    text-align: center;
    height: 300px;
    width: 150px;
    border-radius: 5px;
    overflow: hidden;
}

.project-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1px);
    /* Adjust the blur amount */
}

/* Add the overlay for the blur effect */
.project-grid-item::before {
    content: '';
    /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    /* Position at the top */
    left: 0;
    right: 0;
    height: 50px;
    /* Adjust the height as needed */
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    /* Blurred overlay color */
    filter: blur(5px);
    /* Adjust the blur amount */
    z-index: 1;
    /* Ensure the overlay is above the image */
}

.project-grid-item::after {
    content: '';
    /* Required for pseudo-elements */
    position: absolute;
    bottom: 0;
    /* Position at the bottom */
    left: 0;
    right: 0;
    height: 50px;
    /* Adjust the height as needed */
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    /* Blurred overlay color */
    filter: blur(5px);
    /* Adjust the blur amount */
    z-index: 1;
    /* Ensure the overlay is above the image */
}

.project-name {
    color: #fff;
    position: absolute;
    bottom: 30px;
    font-size: 16px;
    z-index: 999;
}