:root {
    --carousel-height: 450px;
    --current-slide: 0;
    --slide-width: 25vw;
}

#message {
    font-family: "Poppins", sans-serif !;

}

.IntroMain {
    height: 600px;
}

.content {
    margin-top: 100px;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
}

.section-title {
    color: #fff;
    font-size: 150px;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-right: 15px;
    width: 100%;
    opacity: 0.5;
    z-index: -10;
    overflow: visible;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
}

.title {
    position: absolute;
    top: 0;
    left: 0;
}

.title-ico {
    position: absolute;
    right: 0;
}

.title-ico.smile {
    top: 58px;
    font-size: 110px;
}

.title-ico.edu {
    top: 30px;
}

.title-ico.exp {
    top: 40px;
}

.title-ico.stack {
    top: 45px;
}

.title-ico.project {
    top: 45px;
}

.title-ico.activity {
    top: 45px;
}

.title-ico.contact {
    top: 45px;
}

/* Intro Section    */

.video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    z-index: -1;
}

.pfpContainer {
    position: absolute;
    margin-top: 63px;
    margin-left: calc(50% - 540px);
    z-index: -1;
}

.pfpContainer img {
    width: 762px;
    align-items: center;
}

.intro-btn-big {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 125px;
    background-color: #fff;
    padding: 15px;
    font-weight: bold;
    font-size: 35px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: skewX(-4deg);
    opacity: 0.85;
    overflow: hidden;
}

.intro-btn-big:hover {
    cursor: pointer;
}

.intro-btn-big:active {
    background-color: rgb(158, 158, 158);
}

.intro-btn-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #fff;
    padding: 15px;
    font-weight: bold;
    font-size: 35px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: skewX(-4deg);
    opacity: 0.85;
    overflow: hidden;
}

.intro-btn-small {
    cursor: pointer;
}

.intro-btn-blue {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #08aade;
    padding: 15px;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}


.intro-btn-spilt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.intro-btn-spilt>* {
    flex: 1 0 calc(33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}

.intro-btn-spilt> :nth-child(3n) {
    margin-right: 0;
}

.intro-btn-spilt a {
    width: 100%;
}

.intro-btn-spilt .intro-btn-blue {
    padding-top: 35px;
    font-size: 25px;
}

.intro-btn-spilt .intro-btn-blue.first {
    padding-top: 35px;
    font-size: 35px;
}

.mini-btn-ico {
    position: relative;
    color: #fff;
    font-size: 15px;
    margin-top: 1px;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 4px;
}

.mini-btn-title {
    display: flex;
    flex-direction: row;
    padding: 3px;
    width: 64%;
    right: 8px;
    top: 3px;
    background-color: #454545;
    color: #fff;
    position: absolute;
    z-index: 999;
}

.welcome-btn {
    display: flex;
    background-color: grey;
    height: 100%;
    width: 100px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.welcome-btn img {
    background-color: grey;
    height: 70px;
    width: 80px;
}

.intro-desc {
    padding: 10px;
    width: 335px;
    height: auto;
    position: absolute;
    background-color: #333333;
    margin-top: 445px;
    margin-left: calc(50% - 513px);
    z-index: -1;
    opacity: 0.85;
    transform: rotate(-3deg) skewX(-6deg);
    text-align: left;
}

.intro-desc p {
    color: #fff;
    margin: 0;
}



.level {
    width: 150px;
    height: 45px;
    position: absolute;
    background-color: #333333;
    margin-top: 360px;
    margin-left: calc(50% - 510px);
    z-index: -1;
}

.age {
    color: #fff;
    font-size: 65px;
    margin-top: -90px;
    margin-left: 56px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    border: 2px solid #ebd442;
    border-radius: 50%;
}

.age p {
    height: 0px;
    font-size: 17px;
    line-height: 0px;
    margin-top: -17px;
}

.name {
    color: #fff;
    position: absolute;
    right: -30px;
    bottom: -42px;
    font-size: 30px;
}

.divider {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #000000;
}

.intro-btn-ico {
    position: absolute;
    color: #000000;
    opacity: 0.2;
    z-index: -1;
}

.side-btn {
    height: auto;
    width: 210px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
    font-size: 20px;
    top: 0px;
    right: -20px;
    font-size: 45px;
    gap: 4px;
}

.side-btn.big {
    width: 185px;
    right: -23px;
}

.side-btn>a {
    transform: skewX(-4deg);
    flex: 1 1 calc(50% - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.side-btn .linkedin-container {
    background-color: #0a66c2;
    color: #fff;

}

.side-btn .github-container {
    background-color: #465a7c;
    color: #fff;
}

.side-btn .youtube-container {
    background-color: #ff0000;
    color: #fff;
}

.side-btn .fb-container {
    background-color: #0866ff;
    color: #fff;
}

.side-btn.big .resume-container {
    background-color: #ad0b00;
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    height: 80px;
}

.side-btn.big .resume-container p {
    padding-right: 10px;
}

.pdf-ico {
    padding-left: 10px;
}

.intro-btn-ico.welcome {
    right: 155px;
    top: -40px;
    font-size: 175px;
}

.intro-btn-ico.edu {
    right: 6px;
    top: -20px;
    font-size: 117px;
}

.intro-btn-ico.exp {
    right: 8px;
    top: -6px;
    font-size: 90px;
}

.intro-btn-ico.stack {
    right: 0;
    top: 9px;
    font-size: 75px;
    color: #fff;
}

.intro-btn-ico.project {
    left: 10px;
    top: 25px;
    font-size: 64px;
    color: #fff;
}

.intro-btn-ico.activity {
    right: 122px;
    top: 25px;
    font-size: 64px;
    color: #fff;
}

.intro-btn-ico.hobby {
    right: 8px;
    top: -6px;
    font-size: 90px;
}

.intro-btn-ico.contact {
    right: 148px;
    top: -5px;
    font-size: 90px;
}

.multi-btn-container {
    position: relative;
}

/* About Section    */

.section.about {
    overflow: visible;
}

.section-title.about {
    top: -56px;
}

.about-content {
    margin-top: 122px;
    color: #fff;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.player {
    width: 600px;
    height: 336px;
    border: 0px;
}

/* Education Section    */

.edu-content {
    margin-top: 122px;
}

.section-title.edu {
    top: -43px;
}

.edu-selector-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    margin-top: 65px;
    margin-left: 50px;
}

.edu-selector {
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding-left: 50px;
}

.edu-selector:hover {
    cursor: pointer;
    background-color: #4c4c4c;
}

.edu-selector.selected {
    background-color: #3d3939;
}

.edu-selector.diploma::after {
    content: '';
    position: absolute;
    top: 40px;
    bottom: 40px;
    margin-left: -25px;
    width: 2px;
    background-color: #fff;
}

.edu-selector::before {
    content: '';
    position: absolute;
    top: 37px;
    left: 21px;
    width: 10px;
    height: 10px;
    background-color: #262626;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    z-index: 99;
}

.edu-selector p::before {
    content: '';
    position: absolute;
    top: 115px;
    left: 21px;
    width: 10px;
    height: 10px;
    background-color: #262626;
    border: 2px solid #ffffff;
    box-sizing: border-box;
}

.edu-selector.shape::before {
    content: '';
    position: absolute;
    top: 195px;
    left: 21px;
    width: 10px;
    height: 10px;
    background-color: #262626;
    border: 2px solid #ffffff;
    box-sizing: border-box;
}

.edu-selector.selected::before {
    position: absolute;
    left: 16px;
    margin-top: -6px;
    width: 20px;
    height: 20px;
    background-color: #262626;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    z-index: 999;
}

.edu-selector.shape2::before {
    position: absolute;
    left: 16px;
    top: 114px;
    width: 20px;
    height: 20px;
    background-color: #262626;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    z-index: 999;
}

.edu-details {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 100%;
    text-align: center;
    height: auto;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.edu-overlay.hidden {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(100%);
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: none;
    z-index: 1;
    /* opacity: 1; */
}

.edu-overlay.revealed {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: transform 1s ease, opacity 1s ease;
    z-index: 1;
    /* opacity: 0; */
}

.edu-logo {
    position: absolute;
    right: 0;
    padding: 10px;
    /* margin-right: -300px; */
    z-index: -1;
    filter: blur(1px);
    opacity: 0.5;
    width: auto;
    height: 99%;
    text-shadow: none;
    box-shadow: none;
}

.edu-title {
    height: 100px;
}

.edu-desc {
    height: 150px;
    display: flex;
    align-items: center;
}

.edu-date {
    display: flex;
    font-size: 78px;
    font-weight: bold;
    opacity: 0.6;
}

.edu-result {
    color: #000000;
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: none;
}

/* Experience Section    */

/* .section.about {
    margin-top: 110px;
} */

.section-title.exp {
    top: -43px;
}

.exp-content {
    margin-top: 200px;
}

.exp-selector {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    background-color: #b2b2b2;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.exp-selected-content {
    height: auto;
}

.exp-image {
    display: flex;
    width: 50px;
}

.exp-image img {
    width: 450px;
}

.exp-desc {
    font-size: 20px;
    display: flex;
    z-index: -1;
    height: 300px;
    background-color: grey;
    color: #fff;
    padding: 20px 20px 20px 36px;
    margin-left: -17px;
}

.recite-logo {
    position: absolute;
    width: 100px;
    top: 0;
    right: 0;
    height: 72px;
    width: 70px;
    margin-top: 6px;
    margin-right: -10px;
}

.fusion-logo {
    position: absolute;
    bottom: 20px;
    left: 85px;
    height: 72px;
    width: 70px;
    margin-top: 6px;
    margin-right: -10px;
    border: solid #fff 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fusion-office {
    position: relative;
    clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 100%, 0% 100%);
}

.exp-company-area {
    color: #fff;
    min-height: 500px;
    background-color: #4f4f4f;
    padding: 30px;
    overflow: hidden;

}

.exp-company-title,
.exp-company-date {
    display: inline-block;
    margin-right: 10px;
}

.exp-company-title {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    font-size: 30px;
}

.exp-company-title h1 {
    margin-bottom: 0px;
}

.exp-company-date {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.exp-company-position {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.exp-company-position h4 {
    font-size: 20px;
}

.exp-company-desc {
    text-align: justify;
    font-size: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.folder-area {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #4f4f4f;
}

.folder {
    background-color: #f4f4ec;
    padding: 20px 20px 10px 20px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    border-radius: 0px 0px 0px 15px;
    height: 100%;
    z-index: 1;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.folder.fusionex.hidden {
    position: absolute;
    display: none;
    top: 0;
    padding-right: 0px;
    z-index: 0;
    cursor: pointer;
}

.folder.recite.hidden {
    position: absolute;
    top: 0;
    margin-left: 0px;
    z-index: 0;
    cursor: pointer;
}

.folder.fusionex.hidden .folder-img {
    display: none;
}

.folder p {
    font-size: 20px;
    text-align: right;
    margin-top: 15px;
    font-weight: bold;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);

}

.folder-img {
    flex: 1;
    display: flex;
    align-items: flex-end;
    border-radius: 6px;
    cursor: auto;

}

.folder-img-caption-box {
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 55px;
    background-color: #d58624;
    position: absolute;
    border-radius: 0px 0px 6px 6px;
    overflow: hidden;
}

.folder-img-caption-box p {
    text-align: center;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

.folder-thumbnail {
    border-radius: 6px;
    display: block;
    width: 100%;
    height: 100%;
}

.folder-logo {
    position: absolute;
    top: -18px;
    right: 0;
    height: 470px;
    width: 500px;
    margin-top: 6px;
    margin-right: -10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    z-index: -99;
    opacity: 0.2;
    filter: blur(1px);
}

.folder-logo.fusion {
    position: absolute;
    top: -18px;
    right: 0;
    height: 470px;
    width: 500px;
    margin-top: 6px;
    margin-right: -10px;
    border: solid #fff 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    z-index: -99;
    opacity: 0.2;
    filter: blur(1px);
}

.folder-tab {
    margin-bottom: -7px;
}

.tab-logo {
    position: relative;
    height: 72px;
    width: 70px;
    margin-top: 6px;
    margin-right: -10px;
    background-color: #f4f4ec;
    border: solid #f4f4ec 8px;
    border-radius: 6px 6px 0 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
}

.tab-logo:hover {
    cursor: pointer;
}

.tab-logo.fusion {
    clip-path: inset(0 10% 0 10%) polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    position: relative;
    height: 72px;
    width: 70px;
    margin-top: 6px;
    margin-left: 10px;
    border: solid #f4f4ec 8px;
    border-radius: 6px 6px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
}

.tab-logo.hidden {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px;
    z-index: 0;
    bottom: -5px !important
}

.tab-logo.fusion.hidden {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px;
    z-index: 0;
    bottom: -5px !important
}

/* Stack Section */

.stack-motion-container {
    overflow: hidden;
    width: 100%;
}

.section.stack {
    margin-top: 85px;
}

.section-title.stack {
    top: -50px;
}

.stack-content {
    margin-top: 200px;
}

.stack-item {
    display: flex;
    justify-content: center;
    height: 450px;
}

.stack-item.details {
    /* clip-path: polygon(0 0, 81% 0, 100% 100%, 0% 100%); */
    margin-right: -30%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    position: relative;
    z-index: -1;
    color: #fff;
    width: 100%;
    padding: 25px;
    background: linear-gradient(to right, #4f4f4f, transparent);
}

.stack-item.logo {
    /* clip-path: polygon(0 0, 100% 0, 70% 100%, 30% 100%); */
    position: relative;
    z-index: -2;
}

.stack-item.list {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 999;
}

.stack-list-background {
    clip-path: polygon(19% 0, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 100%;
    background-color: #292929;
    z-index: -1;
}

.stack-grid {
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    width: auto;
    height: auto;
    gap: 10px 10px;
}

.stack-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(78, 78, 78, 1) 0%, rgba(49, 49, 49, 1) 100%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 30px;
    text-align: center;
    height: 125px;
    width: 125px;
    overflow: hidden;
}

.stack-grid-item:nth-child(n + 5) {
    margin-left: -15px;
}

.stack-grid-item:nth-child(n + 9) {
    margin-left: -25px;
}

.stack-small-logo {
    width: 77px;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.selected-logo {
    width: 500px;
    height: 100%;
    opacity: 0.5;
}

.stack-title {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.stack-title h1 {
    font-size: 70px;
}

.stack-desc {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    font-size: 18px;
    text-align: justify;
}

/* Projects Section */

.section.project {
    margin-top: 110px;
}

.section-title.project {
    top: -43px;
}

.project-content {
    margin-top: 145px;
}

.project-grid {
    color: #fff;
    position: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: auto;
    height: auto;
    gap: 10px 10px;
}

.project-grid-item {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 30px;
    text-align: center;
    height: 300px;
    width: 450px;
    border-radius: 5px;
    overflow: hidden;
}

.project-grid-item-effect {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    text-align: center;
    height: 615px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    padding: 25px;
}

.project-grid-content {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 65%, rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    text-align: center;
    padding: 25px;
}

.project-grid-content>div {
    margin-top: 10px;
}

.project-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: blur(1px);
    filter: brightness(100%);
}

.project-thumbnail:hover {
    filter: blur(2px);
    filter: brightness(85%);
}

.project-name {
    position: relative;
    font-size: 25px;
    z-index: 999;
}

.project-name::after {
    content: "";
    display: block;
    width: 100%;
    /* Adjust as needed */
    height: 1px;
    /* Adjust as needed */
    background-color: #fff;
    /* Adjust as needed */
}

.project-desc {
    position: relative;
    font-size: 16px;
    z-index: 999;
}

.project-stack-icon-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.project-stack-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    height: 50px;
    width: 50px;
    z-index: 999;
}

/* Contact Section*/
.section.contact {
    margin-top: 10px;
    z-index: 0;
}

.section-title.contact {
    top: -50px;
}

.contact-content {
    margin-top: 200px;
    margin-bottom: 100px;
}

.contact-grid {
    margin: 0 200px;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 10px;
    width: auto;
    height: auto;
    gap: 10px 10px;
    background-color: #4f4f4f;
    border: solid 1px #fff;
}

.contact-grid-item {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    font-size: 23px;
    text-align: center;
    height: 123px;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    background-color: #353535;
    z-index: 0;
}

.contact-grid-item.big-column {
    height: 100%;
    grid-row: span 2;
    grid-column: span 2;
    background-color: #353535;
}

.contact-grid-item.big-column p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-grid-item.big-column>p::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form label {
    text-align: left;
    padding-bottom: 10px;
}

.contact-form label:nth-of-type(2) {
    padding-top: 10px;
}

.contact-form>input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: none;
}

.contact-form>textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 20px;
    resize: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.contact-form button {
    position: relative;
    align-self: flex-end;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 147, 212, 1) 0%, rgba(0, 112, 161, 1) 100%);
    font-size: 15px;
    padding-left: 30px;
    color: #fff;
    overflow: hidden;
    z-index: 5;
    border: none;
    outline: none;
    box-shadow: none;
}

.contact-send-ico {
    position: absolute;
    color: #000000;
    left: 0;
    top: 0;
    font-size: 50px;
    opacity: 0.3;
    z-index: -1;
}

.contact-email-ico {
    position: absolute;
    color: #000000;
    left: -15px;
    top: -49px;
    font-size: 185px;
    opacity: 0.3;
    z-index: -1;
}

.contact-phone-ico {
    position: absolute;
    color: #000000;
    left: -20px;
    top: -36px;
    font-size: 162px;
    opacity: 0.3;
    z-index: -1;
}

.copy-btn {
    position: absolute;
    display: flex;
    align-items: center;
    align-self: flex-end;
    top: 0;
    right: 0;
    width: 90px;
    height: 35px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 147, 212, 1) 0%, rgba(0, 112, 161, 1) 100%);
    font-size: 15px;
    padding-left: 40px;
    color: #fff;
    overflow: hidden;
    z-index: 5;
    border: none;
    outline: none;
    box-shadow: none;
}

.contact-copy-ico {
    position: absolute;
    color: #000000;
    left: 0;
    top: 0;
    font-size: 50px;
    opacity: 0.3;
    z-index: -1;
}

/* Activities Section */

.section.activities {
    margin-top: 10px;
    display: block;
}

.section-title.activities {
    top: -50px;
}

.activities-content {
    margin-top: 117px;
    margin-bottom: 100px;
}

.carousel {
    height: var(--carousel-height);
    position: relative;
}

.carousel-controls {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.carousel-control {
    width: 200px;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    opacity: 0.3;
}

.carousel-arrow-ico {
    color: #fff;
    font-size: 50px;
}

.carousel-control.is-prev {
    left: 0;
}

.carousel-control.is-next {
    right: 0;
}

.carousel-slides {
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.carousel-slide {
    box-shadow: 0;
    align-items: center;
    background-color: #424242;
    bottom: 0;
    display: flex;
    font-weight: bold;
    height: calc(var(--carousel-height) * 0.6);
    justify-content: center;
    left: 50%;
    margin: 0.5em;
    position: absolute;
    top: 47%;
    transform-origin: top left;
    transform: scale(0.6) translate(-50%, -50%);
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out,
        box-shadow 300ms ease-in-out;
    width: 600px;
    opacity: 0.8;
    filter: blur(2px);
}

.carousel-slide.is-active {
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
    z-index: 2;
    filter: blur(0px);
}

.carousel-slide.is-left {
    transform: scale(0.6) translate(-150%, -50%);
    z-index: 1;
}

.carousel-slide.is-right {
    transform: scale(0.6) translate(50%, -50%);
    z-index: 1;
}

.carousel-dots {
    bottom: 38px;
    display: flex;
    left: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(-50%, 100%);
    z-index: 3;
    opacity: 0.8;
}

.carousel-dot {
    display: block;
    margin: 0.5em;
}

.carousel-dot button {
    background-color: grey;
    border: 0;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.carousel-dot.is-active button {
    background-color: #fff;
}

.carousel-content {
    color: #fff;
    background: rgb(38, 38, 38);
    background: linear-gradient(81deg, rgba(38, 38, 38, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(38, 38, 38, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    height: auto;
    gap: 10px;
}

.carousel-thumbnail {
    order: -1;
}

.carousel-thumbnail-img {
    width: 600px;
    height: 100%;
    object-fit: cover;
    filter: brightness(100%);
}

.carousel-logo {
    width: 77px;
    height: auto;
}

.carousel-icon {
    position: absolute;
    left: 258px;
    bottom: -55px;
}

.carousel-title {
    text-align: center;
    margin-top: 10px;
}

.carousel-title h2 {
    margin: 0;
}

.carousel-desc {
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.carousel-status {}

.carousel-status p {
    margin: 0;
    background-color: #f3bf1e;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px
}

.carousel-link {
    margin-bottom: 10px;
}

.link-icon-grid {
    position: relative;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.link-icon-item {
    padding: 5px;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    height: 50px;
    width: 50px;
    z-index: 999;
}

/* Footer Section*/

.footerimg {
    position: relative;
    width: 100%;
}

.footer-bg {
    width: 100%;
    height: 500px;
}


.section.footer {
    height: auto;
    overflow: hidden;
}

.footergifs {
    display: flex;
    overflow: hidden;
}

.amiya-img {
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
    z-index: 1;
}

.loli-gif {
    position: absolute;
    bottom: 150px;
    right: 0px;
    width: 200px;
    height: 150px;
}

.gup-gif {
    position: absolute;
    bottom: 220px;
    left: 5%;
    width: 200px;
    height: 200px;
    rotate: -2deg;
}

.cat-gif {
    position: absolute;
    bottom: 15px;
    right: 200px;
    width: 200px;
    height: 200px;
}

/* Misc */


@media screen and (max-width: 1460px) {
    .project-grid {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 1200px) {

    .intro-btn-small,
    .intro-btn-big {
        height: 100px;
        font-size: 20px;
    }

    .intro-btn-spilt .intro-btn-blue,
    .intro-btn-spilt .intro-btn-blue.first {
        font-size: 15px;
    }

    .intro-btn-spilt {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* Prevent wrapping to the next row */
        justify-content: flex-start;
        position: relative;
        width: 100%;
        margin-left: 15px;
    }

    .intro-btn-ico.welcome {
        font-size: 155px;
    }

    .intro-btn-ico.edu {
        right: 8px;
        top: -10px;
        font-size: 100px;
    }

    .intro-btn-ico.activity {
        right: 72px;
    }

    .side-btn {
        top: -15px;

    }

    .title {
        left: 50%;
        transform: translateX(-50%);
    }

    .title-ico {
        display: none;
    }

    .section-title {
        font-size: 35px;
    }

    /* About Section*/

    .about-content {
        margin-top: 0;
        margin-bottom: -40px;
    }

    .about-content p {
        font-size: 12px;
    }

    .section-title.about {
        top: 15px;
    }

    .player {
        width: 500px;
        height: 305px;
    }

    /* Edu Section*/

    .section-title.edu {
        top: 0;
    }

    .edu-content {
        margin-top: 16px;
    }

    .edu-selector-container {
        margin-top: 10px;
    }

    .edu-title {
        height: 140px;
    }

    .edu-date {
        font-size: 50px;
    }

    /* Exp Section*/

    .section-title.exp {
        top: 0;
    }

    .exp-content {
        margin-top: 88px;
    }

    .exp-company-title h1 {
        margin-bottom: 0px;
        margin-top: 0;
        font-size: 40px;
    }

    .exp-company-date {
        font-size: 10px;
    }

    .exp-company-desc {
        font-size: 16px;
    }

    .folder-area {
        height: 300px;
    }

    .folder-img-caption-box {
        height: 40px;
    }

    .folder-img-caption-box p {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /* Stack Section*/

    .section-title.stack {
        top: 0;
    }

    .stack-content {
        margin-top: 60px;
    }

    .section.stack {
        margin-top: 25px;
    }


    .stack-item.logo {
        display: none;
    }

    .stack-item {
        height: 150px;
    }



    .stack-item.list {
        overflow-x: auto;
        align-items: end;
    }

    .stack-grid {
        display: flex;
        padding: 10px;
        gap: 10px;
        /* Adjust the gap between grid items */
        width: 100%;
        height: auto;
        overflow-x: scroll;
        /* Allow horizontal scrolling */
        scroll-snap-type: x mandatory;
    }

    .stack-grid-item {
        flex: 0 0 auto;
        scroll-snap-align: start;
        /* Snap each grid item to the start of the scroll container */
    }

    .stack-grid-item:nth-child(n + 5) {
        margin-left: 0;
    }

    .stack-grid-item:nth-child(n + 9) {
        margin-left: 0;
    }

    .stack-list-background {
        display: none;
    }

    .stack-item.details {
        height: auto;
    }

    .stack-title h1 {
        font-size: 45px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .stack-desc {
        font-size: 15px
    }

    /* Project Section*/

    .section-title.project {
        top: 0;
    }

    .project-content {
        margin-top: 60px;
    }

    .section.project {
        margin-top: 25px;
    }

    .project-grid-item {
        height: 210px;
        width: 350px;
    }

    .project-grid {
        grid-template-columns: auto auto;
    }

    .project-grid-content {
        padding: 10px;
    }

    .project-grid-item-effect {
        height: 472px;

    }

    .project-name {
        font-size: 20px;
    }

    .project-desc {
        font-size: 12px;
    }

    /* Activity Section*/

    .section-title.activities {
        top: 0;
    }

    .activities-content {
        margin-top: 60px;
    }

    .section.activities {
        margin-top: 25px;
    }

    .carousel-slide {
        transform: scale(0.2) translate(-50%, -50%);
    }

    .carousel-slides {
        margin: -75px 0 0 0;
    }

    .carousel-slide.is-active {
        transform: scale(0.7) translate(-50%, -50%);
    }

    .carousel-slide.is-left {
        transform: scale(0.2) translate(-150%, -50%);
    }

    .carousel-slide.is-right {
        transform: scale(0.2) translate(50%, -50%);
    }

    .carousel-control {
        height: 99px;
        bottom: 20px;
        top: auto;
    }

    .carousel-title {
        min-height: 42px;
    }

    .carousel-title h2 {
        font-size: 14px;
    }

    .carousel-status p {
        font-size: 10px;
    }

    .carousel-desc {
        font-size: 10px;
    }

    .activities-content {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    /* Contact Section */
    .section-title.contact {
        top: 0;
    }

    .contact-content {
        margin-top: 95px;
    }

    .contact-grid {
        margin: 0 10px;

    }

    .contact-grid-item {
        font-size: 14px;
    }

    .copy-btn {
        padding-left: 0px;
        justify-content: center;
        width: 100%;
        bottom: 0;
        top: auto;
        font-size: 15px;
    }

    /* Footer Section */

    .amiya-img {
        width: 375px;
        height: 375px;
    }

    .loli-gif {
        right: -50px;
    }

    .gup-gif {
        left: 0%;
        width: 150px;
        height: 150px;
    }

    .cat-gif {
        bottom: 0px;
        right: -31px;
        width: 180px;
        height: 180px;
    }


}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 760px) {
    .project-grid {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 600px) {

    /* Intro Section*/

    .IntroMain {
        position: relative;
        overflow: hidden;
    }

    .level {
        width: 150px;
        height: 45px;
        position: absolute;
        top: 105px;
        left: -18px;
        background-color: #333333;
        margin: 0;

        z-index: -1;
    }

    .pfpContainer {
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        z-index: -1;
    }

    .pfpContainer img {
        width: 860px;
    }

    .mini-btn-title {
        display: none;
    }

    .side-btn {
        top: -45px;
        right: -18px;
    }

    .intro-btn-big,
    .intro-btn-small,
    .intro-btn-blue {
        display: none;
    }

    .side-btn.big {
        width: 185px;
        top: 10px;
        right: 0;

    }

    .intro-desc {
        left: 50%;
        bottom: 21px;
        margin: 0;
        transform: rotate(0deg) skewX(0deg) translateX(-50%);
    }

    .player {
        width: 350px;

    }

    .edu-logo {
        width: 100%;

    }


}

@media screen and (max-width: 400px) {
    .pfpContainer img {
        width: 550px;
    }

    .side-btn.big {
        width: 185px;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}